#index-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas: 
    "gallery-h1 gallery-h1 gallery-h1 gallery-h1"
    "sh1 sh3 sh3 sh2"
    "sh4 sh4 sh5 sh5"
    "sh7 sh6 sh6 sh8";
}
#index-gallery .gallery-img{
    width: 100%;
    height: 450px;
      background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
#index-gallery .h1{
    grid-area: gallery-h1;
}
#index-gallery .sh1{
    grid-area: sh1;
    background-image: url("gallery/thumbs/sh1.jpeg");
}
#index-gallery .sh2{
    grid-area: sh2;
    background-image: url("gallery/thumbs/sh2.jpeg");
}
#index-gallery .sh3{
    grid-area: sh3;
    background-image: url("gallery/thumbs/sh3.jpeg");
}
#index-gallery .sh4{    
    grid-area: sh4;
    background-image: url("gallery/thumbs/sh4.jpeg");
}
#index-gallery .sh5{
    grid-area: sh5;
    background-image: url("gallery/thumbs/sh5.jpeg");
}
#index-gallery .sh6{
     grid-area: sh6;
    background-image: url("gallery/thumbs/sh6.jpeg");
}
#index-gallery .sh7{
 grid-area: sh7;
    background-image: url("gallery/thumbs/sh7.jpeg");
}
#index-gallery .sh8{
grid-area: sh8;
    background-image: url("gallery/thumbs/sh8.jpeg");
}
.gallery-img div{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-img a{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}
.gallery-img div:hover{
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}
.img-window{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.img-window img{
    max-height: 80vh;
    max-width: 90vw;
}
.img-btn-next{
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color:#111111;
     position: fixed;
    top: 48vh;
    z-index: 500;
    color: white;
    cursor: pointer;
}
.img-btn-next:hover{
    opacity: 0.8;
}
.img-btn-prev{
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
}
